{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-inline-environment-variables",
    "minify-dead-code-elimination"
  ]
}
